Q1. Create one variable containing following type of data: (i) string (ii) list (iii) float (iv) tuple

In [1]:
Variable=['string',[1,2,3,'joy'],20.58,(1,2,3)]
for i in Variable:
    print(i,type(i))

string <class 'str'>
[1, 2, 3, 'joy'] <class 'list'>
20.58 <class 'float'>
(1, 2, 3) <class 'tuple'>

Q2. Given are some following variables containing data: (i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1.What will be the data type of the above given variable.

In [ ]:
(i) var1 = ' '  ----# Data Type -- 'str'

(ii) var2 = '[ DS , ML , Python]'  # Data Type -- 'str'

(iii) var3 = [ 'DS' , 'ML' , 'Python' ]  # Data Type -- 'list'

(iv) var4 = 1.  # Data Type 'int'

In [7]:
var1 = ' ' 

var2 = '[ DS , ML , Python]' 

var3 = [ 'DS' , 'ML' , 'Python' ] 

var4 = 1 
print('var1','-',type(var1))
print('var2','-',type(var2))
print('var3','-',type(var3))
print('var4','-',type(var4))

var1 - <class 'str'>
var2 - <class 'str'>
var3 - <class 'list'>
var4 - <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [2]:
#(1) '/' - this operator is use to divide 'a' and 'b'
a=15
b=5
print(a/b)

3.0

In [3]:
#(2) '%' - this operator is called Modulus. it gives remainder after dividing 'a' and 'b'
a=16
b=3
print(a%b)

1

In [4]:
#(3) '//' - This operator is called Floor Division.It ignores the decimal value if present.
a=16
b=3
print(a//b)

5

In [1]:
#(4) '**' - This operator is called Exponential.if gives a**b means a to the power of b
a=4
b=2
print(a**b)

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
list=['String',2,3.4,5+7j,[1,'Joy',4.1,(5,6,8),[10,11,12]],(5,8,7,'Joy'),{'Joy':2,'Apple':3,'Mango':4},{2,5,8,'Joy'},True,None]
for i in list:
    print(i,'-', type(i))

String - <class 'str'>
2 - <class 'int'>
3.4 - <class 'float'>
(5+7j) - <class 'complex'>
[1, 'Joy', 4.1, (5, 6, 8), [10, 11, 12]] - <class 'list'>
(5, 8, 7, 'Joy') - <class 'tuple'>
{'Joy': 2, 'Apple': 3, 'Mango': 4} - <class 'dict'>
{8, 2, 'Joy', 5} - <class 'set'>
True - <class 'bool'>
None - <class 'NoneType'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [10]:
A=12
B=2
count=0
while A%B==0:
    A=A/B
    count+=1
print("'A' is purely divisible by 'B' by ", count, 'times')

'A' is purely divisible by 'B' by  2 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [11]:
list=[]
for i in range(1,26):
    list.append(i)
print(list)
for i in list:
    if i%3==0:
        print(i,'- This element is divisible by 3 ')
    else:
        print(i,'- This element is not divisible by 3 ')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1 - This element is not divisible by 3
2 - This element is not divisible by 3
3 - This element is divisible by 3
4 - This element is not divisible by 3
5 - This element is not divisible by 3
6 - This element is divisible by 3
7 - This element is not divisible by 3
8 - This element is not divisible by 3
9 - This element is divisible by 3
10 - This element is not divisible by 3
11 - This element is not divisible by 3
12 - This element is divisible by 3
13 - This element is not divisible by 3
14 - This element is not divisible by 3
15 - This element is divisible by 3
16 - This element is not divisible by 3
17 - This element is not divisible by 3
18 - This element is divisible by 3
19 - This element is not divisible by 3
20 - This element is not divisible by 3
21 - This element is divisible by 3
22 - This element is not divisible by 3
23 - This element is not divisible by 3
24 - This element is divisible by 3
25 - This element is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [13]:
# MUTABLE DATA TYPES - We can easily change the value of this kind of data types.Example - 'List','set' etc
list=[1,2.5,3+7j,[1,2,3],('apple','mango','banana')]
list[0]=5    # This operation easily change the original value and put '5' in place of '1'
print(list)

[5, 2.5, (3+7j), [1, 2, 3], ('apple', 'mango', 'banana')]

In [14]:
# IMMUTABLE DATA TYPES - We can't change the value of this kind of data types. Examples - 'String' 
x='String'
x[0]='B'  # this operation can't take place because we can't change the value of string

TypeError: 'str' object does not support item assignment

In [2]:
# We can access and modify the value and store it into another variable or reassigned it. But the main value isn't change

x='String'
print(x[0])              # in this way we can access the each element of string

print(x.replace('S','A'))       #in this way we can modify the value and store it in another variable but 
                            # it doesn't change the value of original 'x' if we don't reassign it '''
    
print(x)    # when we print the value of 'x' we can see the value of 'x' isn't change.

S
Atring
String